.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-image {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-image img {
  width: 100%;
  height: auto;
}
