
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Elenco degli Endpoint</h1>
    <p>Qui ci sono tutti gli endpoint della nostra API:</p>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <h2>Dati</h2>
    <pre>{{json data}}</pre>
  </body>
</html>