
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Benvenuti nella nostra API</h1>
    <p>Questa è la nostra home page.</p>
    <a href="/books">Visualizza gli endpoint</a>
  </body>
</html>